* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .start-game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0e17;
    min-height: 100vh;
    color: #a7aabe;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 3rem 0;
    
    
  }
  
  .header-wrap{
    border: 2px solid #a7aabe;
    border-radius: 5px;  
    
  }
  
  .hero-text {
    font-family: 'Rye', cursive;
    display: flex;
    list-style: none;
    padding:2rem 1rem 1rem 1rem ;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0;
  }
  
  .hero-text li {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }
  
  .hero-text li .bullet {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background-color: tomato;
    display: inline-block;
  }
  
  .header-text{
    font-family: 'Tourney', cursive;
    font-size: 3rem;
    color: #0f0e17;
    background-color: #a7aabe;
    padding: 1rem;
    text-align: center;
  }

  .how-it-works {
    border-radius: 20px;
    text-align: center;
    padding: 0.7rem 1rem 0 1rem;
  }
  
  .how-it-works .head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0 0.2rem 0;
    font-family: 'Kelly Slab', cursive;
    font-size: 1.5rem;
    font-weight: 800;
    color: salmon;
  }
  
  .how-it-works .main {
    text-align: left;
  }
  
  .how-it-works ul {
    list-style: none;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  
  .how-it-works .main-ul .bullet {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid salmon;
    display: inline-block;
    margin-right: .2rem;
  }
  
  .how-it-works .main-ul ul .bullet {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    border: 1.5px solid #ff5470;
    display: inline-block;
    margin-left: 40px;
    background-color: transparent;
  }