* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .start-game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0e17;
    min-height: 100vh;
    color: #a7aabe;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 3rem 0;
    
    
  }
  
  .header-wrap{
    border: 2px solid #a7aabe;
    border-radius: 5px;  
    
  }
  
  .hero-text {
    font-family: 'Rye', cursive;
    display: flex;
    list-style: none;
    padding:2rem 1rem 1rem 1rem ;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0;
  }
  
  .hero-text li {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }
  
  .hero-text li .bullet {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background-color: tomato;
    display: inline-block;
  }
  
  .header-text{
    font-family: 'Tourney', cursive;
    font-size: 3rem;
    color: #0f0e17;
    background-color: #a7aabe;
    padding: 1rem;
    text-align: center;
  }

  .how-it-works {
    border-radius: 20px;
    text-align: center;
    padding: 0.7rem 1rem 0 1rem;
  }
  
  .how-it-works .head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0 0.2rem 0;
    font-family: 'Kelly Slab', cursive;
    font-size: 1.5rem;
    font-weight: 800;
    color: salmon;
  }
  
  .how-it-works .main {
    text-align: left;
  }
  
  .how-it-works ul {
    list-style: none;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  
  .how-it-works .main-ul .bullet {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid salmon;
    display: inline-block;
    margin-right: .2rem;
  }
  
  .how-it-works .main-ul ul .bullet {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    border: 1.5px solid #ff5470;
    display: inline-block;
    margin-left: 40px;
    background-color: transparent;
  }

  .start-game-button {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  .start-game-btn {
    font-family: 'Kelly Slab', cursive;
    display: inline-block;
    background-color: transparent;
    border: solid 2px #a7aabe;
    outline: none;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #a7aabe;
  }
  
  .start-game-btn:hover {
    color: #0f0e17;
    background-color: #a7aabe;
    outline: solid 2px #a7aabe; 
    outline-offset: 3px;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: ;
    height: 300px;
    padding: 100px 0 40px 0;
    font-size: 1.5rem;
  }
  
  .game-main-page-wrapper {
    display: none;
    background-color: #0f0e17;
    min-height: 100vh;
    color: #a7aabe;
    justify-content: center;
    align-items: center;
  }
  
  .game-main-content{
    border: solid #a7aabe 2px;
    padding-bottom: 2rem;
    border-radius: 15px;
  }
  
  .round-winner {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem 0 1rem 0;
    background-color: #a7aabe;
    color: #0f0e17;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }


.display-selections {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1rem 2rem 1rem 2rem;
    color: #a7aabe;
  }
  
  .selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
  } 
  
  .selection-container:not(:nth-child(2)) {
    border-radius: 15px;
    border: #a7aabe solid 1px;
    transition: 0.3s ease-in;
  }
  
  .selection-container:nth-child(2) {
    margin: 0 1rem;
    font-size: 2rem;
    color: #a7aabe;
  }

  .selection-container .fa-user, .selection-container .fa-robot {
    color: #a7aabe;
    transition: 0.3s ease-in;
    padding: 0.3rem 3rem;
  }
  
  .win-effect{
    transform: scale(1.1);
  }
  
  .selection-container .selection-title {
    color: #b3b3b3;
    transition: 0.05s ease-in;
    border-bottom: 1px solid #999;
    font-size: 1.3rem;
  }
  
  .selection-container .selection {
    padding: 0.5rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .running-scores {
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  
  .running-scores .player-running-score{
    display: inline-block;
  }


  .play-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .play-buttons .btn {
    display: inline-block;
    background-color: transparent;
    outline: none;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    color: salmon;
    min-width: 150px;
    border: 2px solid salmon;
    margin-top: 1rem;
    transition: 0.2s ease-in;
    border-radius: 10px;
  }
  
  .play-buttons .btn:not(:first-child) {
    margin-left: 0.63rem;
  }
  
  .play-buttons .btn:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5),
      -1px -1px 3px rgba(255, 255, 255, 0.5);
  }
  
  .play-buttons i {
    display: block;
    color: #fa8072;
    font-size: 3rem;
    cursor: pointer;
  }
  
  
  .win-round {
    transform: scale(1.03);
    color: #9acd32;
  }

  .display-game-winner {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    transition: all 1s ease-in;
  }
  
  .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .display-game-winner .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.877);
    color: #a7aabe;
    border: 2px solid #a7aabe;
    position: relative;
    height: 90%;
    width: 75%;
    border-radius: 0.9rem;
  }
  
  .game-status {
    padding: 1.5rem 1rem 3rem 1rem; 
  }
  
  .display-game-status {
    font-family: 'Press Start 2P', cursive;
    color: #f54747;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
    padding: 2rem 1rem 2rem 1rem;
    border: dotted 3px #f54747;
  }
  
  .game-status-win {
    color: #9acd32;
    border-color: #9acd32;
  }
  
  .display-game-winner .modal .game-winner {
    display: block;
    font-size: 2rem;
    color: #a7aabe;
    padding: 2rem 0 1rem 0;
  }
  
  .game-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .game-summary .final-score {
    display: block;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 5px;
    color: #fa8072;
    border-bottom: 2px #fa8072 solid;
  }
  
  .game-summary .scores {
    display: block;
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: #a7aabe;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }
  
  .modal-btns {
    display: flex;
    margin-top: 3rem;
  }
  
  .modal-btns .btn {
    display: inline-block;
    background-color: transparent;
    border: solid 2px salmon;
    outline: none;
    padding: 1.5rem 3rem 1.5rem 3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: salmon;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .modal-btns .btn:not(first-child) {
    margin-left: 2rem;
  }
  
  .modal-btns .btn:hover {
    color: #f4f4f4;
    background-color: salmon;
  }

  .end-game-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f0e17;
    color: salmon;
    font-size: 1.5rem;
  }
  
  .end-game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3),
      1px 0 1px rgba(255, 255, 255, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.3);
  }
  
  .end-game-content {
    flex: 2 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-top: 3rem;
    text-align: center;
  }
  
  .socials {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .socials span {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .socials ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .socials a {
    text-decoration: none;
    color: #a7aabe;
  }
  
  .socials a:hover {
    color: salmon;
  }
  
  .socials li:not(:first-child) {
    margin-left: 2rem;
  }
  
  .copy-right {
    flex: 1 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
    font-size: 1rem;
  }
  
  
  